<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3>Privacy Policy</h3>
        <p>This is a sample privacy policy for StayScape. We value your privacy and are committed to protecting your personal data.</p>
        <ul>
            <li>We collect data to improve your experience.</li>
            <li>We do not sell your data to third parties.</li>
            <li>You can request to delete your data at any time.</li>
        </ul>
    </div>
</div>