<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3>Terms & Conditions</h3>
        <p>Welcome to StayScape! These are the terms and conditions for using our platform.</p>
        <ul>
            <li>Users must be at least 18 years old.</li>
            <li>Respect other users and hosts.</li>
            <li>We are not responsible for third-party listings.</li>
        </ul>
    </div>
</div>